*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1;
  color: black
}

header {
  text-align: center;
  background-color: transparent;
  color: black;
  border-radius: 0;
  border-bottom: 10px solid black;
}

form {
  display:flex;
  justify-content: center;
  align-items: center;
  min-width: 30%;
  background: white;
  color: black;
  border-top: 10px solid white
  
}

.row {
  white-space: pre-wrap;
  height: 80px;
  width: 65vw;
  ;
}

.todo-input {
  font-size: 1rem;
  border-radius: 15px;
}

.todo-button {
  border-left: 1px solid black;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #06aed5;
  color: white;
  height: 80px;
  width: 45px;
}

.todo-button i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.hour {
  display:flex;
  background-color: #ffffff;
  color: #000000;
  border-top: 1px dashed #000000;
  position: relative;
  height: 80px;
  width: 5vw;
  right: 2vw;
  
}

@media only screen and (max-width:900px) {
  form {
   width: 90%;
  } 
  
}
  



